.regalos {
  background-color: #4a492de9;
  width: 350px;
  margin: auto;
  border-radius: 1.5%;
  font-size: 18px;
  padding: 4%;
  padding-top: 0%;
  height: 80vh;
}

.ul {
  display: flex;
  width: 80%;
  height: 357px;
  flex-flow: row wrap;
  justify-content: space-between;
  overflow: auto;
  scroll-behavior: smooth;
  padding: 10%;
}
::-webkit-scrollbar {
  width: 10px;
  border-radius: 3px;
  background-color: #f5f5f544;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgb(31, 29, 25);
}
.ul li {
  transition: all 0.5s;
  width: 70%;
  font-size: 2em;
  margin-bottom: 6%;
  list-style-type: none;
}

.divInput {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.limpiar {
  background-color: rgb(230, 10, 28);
  margin-top: 5%;
  position: absolute;
  top: 77.5%;
  left: 47%;

  font-size: 18px;
  padding: 8px;
  border-radius: 5%;
}
.input {
  font-size: 20px;
  background-color: rgba(5, 2, 2, 0.391);
  height: 42px;
  padding: 3px;
  border: none;
  border-radius: 3%;
  box-shadow: rgb(79, 49, 49) 5px 5px 8px;
}
.input2 {
  font-size: 20px;

  height: 45px;
  border: none;
  border-radius: 3%;
  /* box-shadow: rgb(211, 127, 127) 5px 5px 8px; */

  background-color: #1fd1f9;
  background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);

  transition: all 0.3s;
}
.input2:hover {
  background-color: #378b29;
  background-image: linear-gradient(315deg, #378b29 0%, #74d680 74%);
  transition: all 0.3s;
}
.input2:hover {
  background-position: 0 -42px;
  transition: all 0.3s;
  cursor: pointer;
}
.equis {
  font-weight: bold;

  opacity: 0.3;
  font-size: 22px;

  width: 50px;
  height: 48px;
  background: silver;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 0px black;
  cursor: pointer;
  border: none;
}

.equis:hover {
  opacity: 1;
  background: #71171e;
}
