body {
  background-image: url("https://pics.freeartbackgrounds.com/midle/Christmas_Background_with_Gift_Boxes-1573.jpg");

  background-position: auto;
  background-size: cover;
  background-repeat: space repeat;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
